.main_container {
    transform: rotate(45deg);
    margin: 100px;
}
.disc_one_container {
    width: 100px;
    height: 100px;
    border: 1ps solid red;
    background-color: red;
    margin: 300px 0px 0px 300px;
    border-radius: 50%;
    float: left;
}
.disc_two_container {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    margin: 250px 0px 0px 0px;
    border-radius: 50%;
    float: left;
    position: relative;
    right: 50px;
}
.square_container {
    width: 100px;
    height: 98px;
    border: 1px solid red;
    background-color: red;
    margin: 300px 0px 0px 0px;
    float: left;
    position: relative;
    right: 152px;
}

